# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env
src/config.py

# VSCode settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data folders
data/

workspace.code-workspace