# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# VSCode settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data folders
data/
